{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .home {
            background-color: yellowgreen;
            text-align: center;
            padding: 20px;
        }
    </style>
    <div class="home">
        <h1>Home</h1>
    </div>
{% endblock %}
